IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.ROUTINES WHERE ROUTINE_NAME='spu_scriptprocedures')
BEGIN
	DROP PROCEDURE spu_scriptprocedures
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------------------------------------------------------
-- Name: spu_scriptprocedures
-- 
-- Author: Jane Dallaway
--
-- Created: 15th April 2009
--
-- This file available at : http://jane.dallaway.com/downloads/SQL/spu_scriptprocedures.sql
--
-- Documentation and updates at: http://jane.dallaway.com/blog/labels/spu_scriptprocedures.html
--
--------------------------------------------------------------------------------------------
-- Modification History:
-- 
--------------------------------------------------------------------------------------------
-- Usage:
--		@db - must specify the name of the database to use to generate the stored procedures
--			  from
--		@rolename - can specify the rolename to grant the execution of the stored procedures
--					as.  If not specified, then no grant is included in the script
--		@proceduresToScriptCondition - can be used to restrict the objects being scripted - 
--							        should be based on the INFORMATION_SCHEMA.ROUTINES schema
--									e.g. ROUTINE_NAME like '%mp_%' etc  With no restriction all
--									procedures will be scripted
--	    @debug - can be used to get extra information from the stored procedure
--
-- Example:
--		spu_scriptprocedures @db='master', @proceduresToScriptCondition='ROUTINE_NAME=''spu_compareprocedures'''
--
-- Output:
--		is produced as text in the Messages window of Management Studio/Query analyser
--
-- Testing:
--		tested on SQL 2005
--
--------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[spu_scriptprocedures]
           @db          VARCHAR(128),         
		   @rolename    VARCHAR(128) = '{RoleName}',		
  		   @proceduresToScriptCondition VARCHAR(8000) = '1=1',  		   
           @debug        BIT  = 0
AS
BEGIN

	SET NOCOUNT  ON
	SET ANSI_WARNINGS  ON
	SET ANSI_NULLS  ON

	-- Variable declarations
	DECLARE  @sql VARCHAR(8000)
	DECLARE  @loop INT 
	DECLARE  @ContentsLoop INT
	DECLARE  @Contents VARCHAR(MAX)
	DECLARE  @name SYSNAME

	-- Set up tables
	IF EXISTS (SELECT 1
	FROM   tempdb.dbo.sysobjects
	WHERE  name LIKE '#ProceduresToScript%')
	BEGIN
		DROP TABLE #ProceduresToScript
	END

	CREATE TABLE #ProceduresToScript (ObjectName sysname, ObjectContents VARCHAR(MAX))
	
	SET @db = Rtrim(Ltrim(@db))
	          
	IF @debug = 1
		PRINT 'DEBUG: Populating #ProceduresToScript with all matching objects from ' + @db

	-- Populate #ProceduresToScript.ObjectName based on INFORMATION_SCHEMA.ROUTINES.ROUTINE_NAME
	-- Was using ROUTINE_DEFINITION as well, but this is limited to 4000 characters in SQL 2005
	-- and so useless
	SET @sql = 'insert into #ProceduresToScript (ObjectName) SELECT ROUTINE_NAME FROM ' + @db + '.INFORMATION_SCHEMA.ROUTINES WHERE ROUTINE_TYPE = ''PROCEDURE'' AND ' + @proceduresToScriptCondition + ' ORDER BY ROUTINE_NAME'

	IF @debug = 1
		PRINT 'DEBUG: SQL is -  '+ @sql

	EXEC( @sql)

	-- To get around the limitation of the 4000 character limit for contents
	-- use the old syscomments table to get the true contents.
	-- This also appears to be limited to be 4000 characters so loop through
	-- using the colid column to ensure we get them in the right order

	SET @Loop = 1
	SET @Name = ''
	WHILE @Loop = 1
	BEGIN

		SELECT TOP 1 @Name = ObjectName	
		FROM #ProceduresToScript
		WHERE ObjectName > @Name
		ORDER BY ObjectName

		SET @Loop = @@ROWCOUNT

		IF @Loop = 0
		BREAK

		SET @sql =	'DECLARE @contents VARCHAR(MAX) '
		+	'DECLARE @contentsloop INT '
		+	'DECLARE @currentcontents VARCHAR(Max) '
		+	'SET @contentsloop = 1 '
		+	'SET @currentcontents = '''''
		+	'SET @contents = '''''
		+	'WHILE @contentsloop = 1'
		+	'BEGIN'
		+	'	SELECT TOP 1 @currentcontents = sc.text '
		+	'	FROM ' + @db + '.dbo.sysobjects so '
		+	'	INNER JOIN ' + @db + '.dbo.syscomments sc '
		+	'	ON so.id = sc.id '
		+	'	WHERE so.xtype = ''P'''
		+	'	AND so.name = ''' + @name + ''''
		+	'   AND sc.text > @currentcontents'
		+	'	ORDER BY sc.colid	'
		+	'	SET @contentsloop = @@ROWCOUNT '
		+	'	IF @contentsloop = 0 '
		+	'		BREAK '
		+	'	SET @contents = @contents + @currentcontents '			
		+	'END '
		+	'UPDATE #ProceduresToScript SET ObjectContents = @contents WHERE ObjectName = ''' + @name + ''''

		IF @debug = 1
		PRINT 'DEBUG: SQL is -  '+ @sql

		EXEC( @sql)
	END

	IF @debug = 1
		PRINT 'DEBUG : About to start printing out the contents'

	PRINT '-----------------------------------------------------------------------------------------'
	PRINT '-- Script autogenerated from ' + @db + ' on ' + CONVERT(VARCHAR(11),GETDATE())
	PRINT '-----------------------------------------------------------------------------------------'

	SET @Loop = 1
	SET @name = ''

	WHILE @Loop = 1
	BEGIN

		SELECT TOP 1 @Name = ObjectName, @Contents = ObjectContents
		FROM #ProceduresToScript
		WHERE ObjectName > @Name
		ORDER BY ObjectName		

		SET @Loop = @@ROWCOUNT

		IF @Loop = 0
			BREAK

		IF @debug = 1
			PRINT 'DEBUG : Name is ' + @Name

		PRINT ''
		PRINT '-----------------------------------------------------------------------------------------'
		PRINT '-- ' + @Name 
		PRINT '-----------------------------------------------------------------------------------------'
		PRINT ''
		PRINT 'IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.ROUTINES WHERE ROUTINE_NAME = ''' + @Name + ''') '+ CHAR(10) + 'BEGIN ' + CHAR(10) + ' DROP PROCEDURE ' + @Name + CHAR(10) + ' END'
		PRINT 'GO'
		PRINT 'SET ANSI_NULLS ON'
		PRINT 'GO'
		PRINT 'SET QUOTED_IDENTIFIER ON'
		PRINT 'GO'		
		PRINT @Contents
		PRINT 'GO'

		IF @rolename <> '{RoleName}'
			BEGIN
			PRINT 'GRANT EXEC ON ' + @name + ' TO  ' + @rolename
			PRINT 'GO'
		END
	END

	--------------------------------------------------------------------------------------------
	-- Clean up temporary tables
	--------------------------------------------------------------------------------------------
	IF EXISTS (SELECT 1
	FROM   tempdb.dbo.sysobjects
	WHERE  name LIKE '#ProceduresToScript%')
	BEGIN
	DROP TABLE #ProceduresToScript
	END

	RETURN

END